apiVersion: apps/v1
kind: Deployment
metadata:
  name: core-app
  namespace: health-core
  labels:
    app: core
spec:
  replicas: 1
  selector:
    matchLabels:
      app: core
  template:
    metadata:
      labels:
        app: core
    spec:
      containers:
      - name: core-app
        # --- ATENÇÃO: SUBSTITUA ABAIXO ---
        image: marcospls/health-core:latest
        # ---------------------------------
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"